[submodule "extern/Sharpmake"]
	path = extern/Sharpmake
	url = https://github.com/ubisoft/Sharpmake.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/FiraCode"]
	path = extern/FiraCode
	url = https://github.com/tonsky/FiraCode
[submodule "extern/ImPlatform"]
	path = extern/ImPlatform
	url = https://github.com/soufianekhiat/ImPlatform.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/IconFontCppHeaders"]
	path = extern/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
